[Unit]
Description=gowallet node
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/gowallet
Environment="XDG_RUNTIME_DIR=/home/ubuntu"
WorkingDirectory=/home/ubuntu
PrivateTmp=true
Restart=on-failure
RestartSec=10
User=root
[Install]
WantedBy=multi-user.target
